/* style.css
 * Jason Payne
 * Personal Website */

body {
	background-color: #6960EC;
	color: black;
	font-size: 18px;
	font-family: Cambria;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

h1{
	color: white;
	font-size: 72px;
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 4%;
	background-color: purple;
	border-style: double;
	border-color: black;
	border-width: medium;
}

h2{
	font-size: 52px;
	margin-top: 2%;
	margin-bottom: 2%;
}

p{
	margin-top: .5%;
	margin-bottom: .5%;
}

ul{
	text-align: left;
}

#links{
	font-size: 42px;
	color: black;
}

#biography{
	font-size: 24px;
}

.school_or_job{
	font-size: 32px;
	margin-top: 1%;
}

.time_period{
	font-style: italic;
	font-size: 20px;
}

.skill_category{
	text-align: left;
	font-size: 24px;
}

