/* style.css
 * Jason Payne
 * Personal Website */

body {
	background-color: #8D0FBD;
	color: black;
	font-size: 18px;
	font-family: Cambria;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

h1{
	font-size: 52px;
	font-weight: bold;
}

h2{
	font-size: 42px;
}

ul{
	text-align: left;
}

#links{
	font-size: 42px;
	color: black;
}

.school_or_job{
	font-size: 32px;
}

.time_period{
	font-style: italic;
	font-size: 20px;
}

.skill_category{
	text-align: left;
	font-size: 24px;
}

